<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

    <div class="alert alert-success" role="alert"
      *ngIf="(state$ | async) == State.SAVED">
      {{ "REGISTRATION.PARTICIPANT_IS_REGISTERED" | translate }}
    </div>

    <div class="alert alert-danger" role="alert"
      *ngIf="(state$ | async) == State.ERROR">
      {{ "REGISTRATION.PARTICIPANT_REGISTRATION_ERROR" | translate }}
    </div>

    <h3>{{ "REGISTRATION.REGISTRATION_FORM_TITLE" | translate }}</h3>
    <form [formGroup]="registrationForm"
      novalidate
      (submit)="registration()">
      <div class="mb-3">
        <label for="firstName" class="form-label">{{ "REGISTRATION.FIRST_NAME" | translate }}</label>
        <input type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">{{ "REGISTRATION.LAST_NAME" | translate }}</label>
        <input type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">{{ "REGISTRATION.EMAIL" | translate }}</label>
        <input type="email"
          class="form-control"
          id="email"
          formControlName="email">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">{{ "REGISTRATION.PHONE_NUMBER" | translate }}</label>
        <input type="phone"
          class="form-control"
          id="phone"
          prefix="+3"
          mask=" 0 (000) 000 00 00"
          formControlName="phone">
      </div>
      <div class="mb-3">
        <label for="section" class="form-label">{{ "REGISTRATION.SECTION" | translate }}</label>
        <select class="form-select" aria-label="Default select example"
          formControlName="section">
          <option *ngFor="let section of (sections$ | async)"
            [value]="section">{{ section }}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="articleName" class="form-label">{{ "REGISTRATION.REPORT_TITLE" | translate }}</label>
        <textarea
          class="form-control"
          id="artivleName"
          formControlName="articleName">
        </textarea>
      </div>
      <div class="mb-3">
        <label for="orgqnization" class="form-label">{{ "REGISTRATION.ORGANIZATION" | translate }}</label>
        <input type="text"
          class="form-control"
          id="orgqnization"
          formControlName="organization">
      </div>
      <div class="mb-3">
        <label for="coAuthors" class="form-label">{{ "REGISTRATION.CO_AUTHORS" | translate }}</label>
        <textarea
          class="form-control"
          id="coAuthors"
          formControlName="coAuthors">
        </textarea>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">{{ "REGISTRATION.ANNOTATION" | translate }}</label>
        <textarea
          class="form-control"
          id="description"
          rows="5"
          formControlName="description">
        </textarea>
      </div>

      <div class="md-3"
        *ngIf="showRecapthca">
        <re-captcha
          (resolved)="resolved($event)"
          [siteKey]="recaptchaKey">
        </re-captcha>
      </div>

      <button type="submit"
        [disabled]="registrationForm.invalid
          || !notRobot
          || (state$ | async) == State.SAVING
          || (state$ | async) == State.SAVED"
        class="btn btn-primary">
          {{ "REGISTRATION.SUBMIT_BTN_TITLE" | translate }}
          <div class="spinner-border spinner-sm" role="status"
            *ngIf="(state$ | async) == State.SAVING">
            <span class="visually-hidden"></span>
          </div>
      </button>

    </form>
  </div>
  <div class="col-2"></div>
</div>
