<div class="participants-container row">
  <div class="col-12">
    <h3>Список участников</h3>

    <div class="spinner-border spinner-lg spinner-center spminner-top--200" role="status"
      *ngIf="(state$ | async) == State.LOADING">
      <span class="visually-hidden"></span>
    </div>

    <table class="table"
      *ngIf="(state$ | async) == State.DATA">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" width="10%">Авторы</th>
          <th scope="col" width="25%">Название доклада</th>
          <th scope="col" width="15%">Организация</th>
          <th scope="col">Анотация</th>
          <ng-container *ngIf="isUserLogged$ | async">
            <th scope="col" width="15%">Email</th>
            <th>Phone</th>
            <th>Регистрация подтверждена</th>
            <th>Actions</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of (participants$ | async); index as index$">
          <td>{{ index$ + 1 }}</td>
          <td>{{ row.coAuthors }}</td>
          <td>{{ row.articleName }}</td>
          <td>{{ row.organization }}</td>
          <td>{{ row.description }}</td>
          <ng-container *ngIf="isUserLogged$ | async">
            <td>{{ row.email }}</td>
            <td>{{ row.phone }}</td>
            <td>{{ row.isApproved ? "Да" : "Нет" }}</td>
            <td>
              <button type="button"
                *ngIf="!row.isApproved"
                [disabled]="approvingId$ |async"
                class="btn btn-primary"
                (click)="approveParticipant(row)">
                Подтвердить регистрацию
                <div class="spinner-border" role="status"
                  *ngIf="(approvingId$ | async) == row.id">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
