<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <h3>{{ "ARTICLE_RULES.TITLE" | translate }}</h3>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <p>{{ "ARTICLE_RULES.TEXT" | translate }} -
      <a href="http://opmj.univ.kiev.ua/index_u.htm">"{{ "ARTICLE_RULES.NAME" | translate }}"</a>
    </p>

    <h4>{{ "ARTICLE_RULES.REQUIREMENTS_TITLE" | translate }}:</h4>

    <ul>
      <li>{{ "ARTICLE_RULES.REQUIREMENT_1" | translate }}</li>
      <li>{{ "ARTICLE_RULES.REQUIREMENT_2" | translate }}</li>
      <li>{{ "ARTICLE_RULES.REQUIREMENT_3" | translate }}</li>
      <li>{{ "ARTICLE_RULES.REQUIREMENT_4" | translate }}</li>
    </ul>

    <p>{{ "ARTICLE_RULES.EMAIL_TEXT" | translate }}: symposium@dsmmph.org.ua</p>

    <p>
      <span>{{ "ARTICLE_RULES.LINK_TEXT" | translate }} - </span>
      <a href="../../../assets/files/DSMMPh-2021_erticle_rules.doc"
        download>{{ "ARTICLE_RULES.LINK" | translate }}</a>
    </p>
  </div>
  <div class="col-1"></div>
</div>
