<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>{{ "LETTERS.TITLE" | translate }}</h3>
  </div>
  <div class="col-2"></div>
</div>


<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p>
      <span>{{ "LETTERS.SECOND_LETTER" | translate }}: </span>
    </p>
    <p>
      <a href="../../../assets/files/2_st_information_XX_DSMMPh-2021_UA.pdf"
        download>{{ "LETTERS.DOWNLOAD" | translate }} - UA</a>
    </p>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p>
      <span>{{ "LETTERS.FIRST_LETTER" | translate }}: </span>
    </p>
    <p>
      <a href="../../../assets/files/1_st_information_XX_DSMMPh-2021_UA.pdf"
        download>{{ "LETTERS.DOWNLOAD" | translate }} - UA</a>
    </p>
    <p>
      <a href="../../../assets/files/1_st_information_XX_DSMMPh-2021_RU.pdf"
        download>{{ "LETTERS.DOWNLOAD" | translate }} - RU</a>
    </p>
    <p>
      <a href="../../../assets/files/1_st_information_XX_DSMMPh_2021_EN.pdf"
        download>{{ "LETTERS.DOWNLOAD" | translate }} - EN</a>
    </p>
  </div>
  <div class="col-2"></div>
</div>
