<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>XX Міжнародний симпозіум</h3>
    <h4>Методи дискретних особливостей в задачах математичної фізики</h4>
    <p class="text-center">
      <img src="../../../assets/images/logo.png" alt="" width="300px">
    </p>
    <p>24-27 червня 2020 р. м. Одеса (Україна)</p>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div><div class="col-5">Харківський національний університет ім. В.Н.Каразіна</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Національний технічний університет «ХПІ»</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Інститут телекомунікацій і глобального інформаційного простору НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Одеська національна академія зв’язку ім. О.С. Попова</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Київський національний університет ім. Тараса Шевченка</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Інститут кібернетики НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Інститут гідромеханіки НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
</div>
<br/>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Програмний комітет:</h3>
    <b>
      академік НАНУ В.Т.Грінченко (Київ),
      академік НАНУ С.О.Довгій (Київ),
      чл.кор. НАНУ Е.І. Нікіфорович (Київ),
      чл.кор. НАНУ А.Н.Трофімчук (Київ),
      чл.кор. НАНУ А.Н.Хіміч (Київ),
      проф. А.Я. Бомба (Рівне),
      проф. В.А.Ванін (Харків),
      проф. П.П. Воробієнко (Одеса),
      проф. А.А.Гуржій (Київ),
      проф. Ibraim Didmanidze (Batumi),
      проф. Г.Н.Жолткевич (Харків),
      проф. В.Т.Лазурік (Харків),
      рrоf. А.V.Меnshykov (Aberdeen),
      проф. С.В.Єршов (USA),
      проф. А.І.Носіч (Харків),
      проф. С. Л. Просвірнін (Харків),
      проф. Дж. Г. Санікідзе (Тбілісі),
      проф. Ю.В.Шестопалов (Gavle),
      проф. В.О.Щербина (Харків),
      проф.А.Н.Хомченко (Миколаїв),
      проф. Р.С.Хапко (Львів)
    </b>
  </div>
  <div class="col-2"></div>
</div>
<br/>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Оргкомітет:</h3>
    <b>
      доц. Г. С. Абрамов (Україна), проф. В. А. Ванін (Україна),
      к.ф.-м.н. А. В. Гахов (Німеччина), проф. В.Д. Душкін (Україна),
      проф. Г. М. Жолткевич (Україна), доц. В. І. Кузьмич (Україна),
      проф. В. Т. Лазурік (Україна), д.ф.-м.н.О.В.Лисенко (Україна),
      проф. В. А. Меньшиков(Україна), проф. С. І. Проценко (Україна),
      доц. В. Н. Сейчук (Молдова), проф.О.О.Стрельнікова (Україна),
      проф. В. О. Щербина (Україна), проф. В. В. Яцик (Україна).
    </b>
  </div>
  <div class="col-2"></div>
</div>

<br/>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h3 class="text-center">Основні напрямки роботи:</h3>
    <ul>
      <li>Крайові задачі математичної фізики та їх чиселові розв’язки МДО</li>
      <li>Інтегральні рівняння та їх застосування</li>
      <li>Метод дискретних вихорів в аерогідродинаміці</li>
      <li>Методи дискретних особливостей в електродинаміці і електроніці</li>
      <li>Спектральні задачі теорії коливань і хвиль, їх числові розв’язки МДО</li>
      <li>Математичне моделювання на базі МДО та числові методи в задачах фільтрації</li>
      <li>Комп&#39;ютерне моделювання та обчислювальні експерименти за МДО, створення наукоємних програмних систем: методи і засоби проектування, паралелізм, бібліотеки, БД, GUI, тестування.</li>
    </ul>
  </div>
  <div class="col-2"></div>
</div>



