<ng-container *ngIf="(language$ | async) == LanguageEnum.RU then ru"></ng-container>
<ng-container *ngIf="(language$ | async) == LanguageEnum.UA then ua"></ng-container>
<ng-container *ngIf="(language$ | async) == LanguageEnum.EN then en"></ng-container>

<ng-template #ru>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>XX Международный симпозиум</h3>
      <h4>Методы дискретных особенностей в задачах математической физики - 2021</h4>
      <p class="text-center">
        <img src="../../../assets/images/logo.png" alt="" width="300px">
      </p>
      <p>21 - 26 июня 2021 г.</p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-2"></div><div class="col-5">Национальный технический университет «ХПИ»</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Киевский национальный университет им. Тараса Шевченко</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Харьковский национальный университет им. В.Н.Каразина</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Институт телекоммуникаций и глобального информационного пространства НАН Украины</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
    <!-- <div class="col-1"></div><div class="col-5">Одеська національна академія зв'язку ім. А.С. Попова</div><div class="col-3 text-center">(Україна)</div><div class="col-1"></div> -->
    <div class="col-2"></div><div class="col-5">Институт кибернетики НАН Украины</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Институт гидромеханики НАН Украины</div><div class="col-3 text-center">(Украина)</div><div class="col-2"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <p>Место проведения: г.г.Харьков-Киев (дистанционно в ZOOM).</p>
      <p>Время проведения: с 21 по 26 июня 2021 р.</p>
      <p>Рабочие языки симпозиума: украинский, английский, русский</p>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Программный комитет:</h3>
      <b>
        академик НАНУ В.Т.Гринченко (Киев), академик НАНУ С.А.Довгий (Киев), чл.кор. НАНУ С.И.Ляшко (Киев),
        чл.кор. НАНУ Е.И.Никифорович (Киев), чл.кор. НАНУ А.Н.Трофимчук, чл.кор. НАНУ А.Н.Химич (Киев),
        доц. Г.С. Абрамов (Херсон), проф.А.Я.Бомба (Ровно), проф.В.А.Ванин (Харьков), проф.В.Б.Василик (Киев),
        проф.П.П. Воробиенко (Одесса), доц.А.В.Гахов (Германия), доц. В.Д.Душкин (Харьков), доц. С.В.Духопельников (Харьков),
        проф.Ibraim Didmanidze (Batumi), проф. Г.Н.Жолткевич (Харьков), доц. В.И. Кузьмич (Херсон), проф. В.Т.Лазурик (Харьков),
        доц. А.В. Лисенко (Харьков), проф. В.А. Меньшиков (Харьков), проф.С.В.Ершов (USA), проф. Д.А.Клюшин Киев),
        проф.А.Г.Наконечный (Киев), проф. А.Г.Николаев (Харьков), проф. А.И.Носич (Харьков), проф Н.Ф.Пацегон (Харьков),
        проф.В.В.Пичкур (Киев), проф.С.Л.Просвирнин (Харьков), проф. Е.А. Стрельникова (Харьков), проф.В.А.Щербина (Харьков),
        проф. Ю.В.Шестопалов (Gavle), проф. В.В.Семенов (Киев), проф.Р.С.Хапко (Львов), проф.А.Н.Хомченко (Николаев).

      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Сопредседатели Оргкомитета</h3>
      <b>
        академик НАНУ С.А.Довгий (Киев), проф. В.А. Ванин, НТУ «ХПИ» (Харьков)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Ученый секретарь:</h3>
      <b>
        доц. Д.И. Черний, КНУ им. Т.Г.Шевченко (Киев)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Состав Оргкомитета симпозиума:</h3>
      <b>
        В.В.Пичкур (Киев), проф. В.В.Семенов (Киев), аспирант П.А. Васин (Киев), Кругол Н.М. (Харьков)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <br/>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="text-center">Основные направления работы МДОЗМФ – 2021:</h3>
      <ul>
          <li>Задачи и методы математической физики.</li>
          <li>Интегральные уравнения и их приложения.</li>
          <li>Вычислительная аэрогидродинамика. Аэродинамика летательных аппаратов.</li>
          <li>Экспериментальная аэрогидродинамика.</li>
          <li>Методы и задачи теории фильтрации.</li>
          <li>Теория упругости и задачи прочности конструкций.</li>
          <li>Теория динамики систем.</li>
          <li>Теория управления и проблемы устойчивости систем.</li>
          <li>Математическое моделирование.</li>
          <li>Численные методы и вычислительные технологии.</li>
          <li>Методы дискретных особенностей и их приложения.</li>
          <li>Информационные и компьютерные технологии.</li>
          <li>Компьютерное моделирование и специальные программные средства.</li>
          <li>Моделирование- лабораторный и физический эксперимент.</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Важные даты:</h3>
      <ul>
        <li><b>1-е информационное сообщение до <span class="red">20 апреля 2021 г.</span></b> – пприём и рассмотрение организационным комитетом
          заявок на участие с докладами в симпозиуме МДОЗМФ-2021 (включает заявку, название и краткую аннотацию
          доклада (до 10 строчек) на одном из языков(английский украинский, русский))</li>
        <li><b>2-е информационное сообщение</b> (условия регистрации, публикации работ участников и порядок уплаты
          оргвзноса) до <span class="red">10 мая 2021 г.</span> – оплата оргвзноса и загрузка докладов(статей)</li>
        <li><span class="red">Регистрация участника в работе симпозиума на сайте МДОЗМФ-2021 происходит при оплате оргвзноса в
          размере 400 грн.</span> Статьи (доклады трудов, удовлетворяющие тематике симпозиума МДОЗМФ) прошедшие рецензирование
          редколлегии будут опубликованы в «Журнал обчислювальної та прикладної математики», 2021
          (внесенном в список рецензируемых изданий МОН Украины!).</li>
        <li><b>3-е информационное сообщение <span class="red">30 мая 2021 г.</span></b> (с официальним приглашением участникам и анонсированием
          программы симпозиума)</li>
        <li>с <span class="red">с 21 по 26 июня 2021</span>, г.г.Харьков-Киев (дистанционно в ZOOM) проведение МДОЗМФ-2021</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>
</ng-template>

<ng-template #ua>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>XX Міжнародний симпозіум</h3>
      <h4>Методи дискретних особливостей в задачах математичної фізики - 2021</h4>
      <p class="text-center">
        <img src="../../../assets/images/logo.png" alt="" width="300px">
      </p>
      <p>21 - 26 червня 2021 г.</p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-2"></div><div class="col-5">Національний технічний університет "ХПІ"</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Київський національний університет ім. Тараса Шевченко</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Харківський національний університет ім. В.Н. Каразіна</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Інститут телекомунікацій і глобального інформаційного простору НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
    <!-- <div class="col-1"></div><div class="col-5">Одеська національна академія зв'язку ім. А.С. Попова</div><div class="col-3 text-center">(Україна)</div><div class="col-1"></div> -->
    <div class="col-2"></div><div class="col-5">Інститут кібернетики НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Інститут гідромеханіки НАН України</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <p>Місце проведення: м.м. Харків - Київ (дистанційно в Zoom)</p>
      <p>Час проведення: з 21 по 26 червня 2021 р.</p>
      <p>Мови симпозіума: українська, англійська, російська</p>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Програмний комітет:</h3>
      <b>
        академік НАНУ В.Т.Гринченко (Київ), академік НАНУ С.О.Довгій (Київ), чл.кор. НАНУ С.І.Ляшко (Київ),
        чл.кор. НАНУ Є.І.Никифорович (Київ), чл.кор. НАНУ А.Н.Трофімчук, чл.кор. НАНУ А.Н.Хіміч (Київ),
        доц. Г.С. Абрамов (Херсон), проф.А.Я.Бомба (Рівне), проф.В.А.Ванін (Харків), проф.В.Б.Василик (Київ),
        проф. П.П. Воробієнко (Одеса), доц.А.В.Гахов (Германія), доц. В.Д.Душкін (Харків), доц.С.В.Духопельніков (Харків),
        проф. Ibraim Didmanidze (Batumi), проф. Г.М.Жолткевич (Харків), доц. В.І. Кузьмич (Херсон), проф. В.Т.Лазурик (Харків),
        доц. А.В. Лисенко (Харків), проф. В.О. Меньшиков (Харків), проф.С.В.Єршов (USA), проф. Д.А.Клюшин (Київ),
        проф. А.Г.Наконечний (Київ), проф. О.Г.Ніколаєв (Харків), проф. А.І.Носич (Харків), проф. М.Ф.Пацегон (Харків),
        проф. В.В.Пічкур (Київ), проф.С.Л.Просвірнін (Харків), проф. О.О. Стрельнікова (Харків), проф.В.О.Щербина (Харків),
        проф. Ю.В.Шестопалов (Gavle), проф. В.В.Семенов (Київ), проф.Р.С.Хапко (Львів), проф.А.Н.Хомченко (Миколаїв).

      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Співголови Оргкомітету:</h3>
      <b>
        академік НАНУ С.О.Довгій (Київ), проф. В.А. Ванін, НТУ «ХПІ» (Харків)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Вчений секретар:</h3>
      <b>
        доц. Д.І. Черній, КНУ ім. Т.Шевченко (Київ)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Склад Оргкомітету симпозіуму:</h3>
      <b>
        В.В.Пічкур (Київ), проф. В.В.Семенов (Київ), аспірант П.А. Васін (Київ), Кругол М.М.(Харків)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <br/>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="text-center">Основні напрями  МДОЗМФ – 2021:</h3>
      <ul>
        <li>Задачі и методи математичної фізики.</li>
        <li>Інтегральні рівняння та їх застосування.</li>
        <li>Обчислювальна аерогідродинаміка. Аеродинаміка літаючих апаратів.</li>
        <li>Експериментальна аерогідродинаміка.</li>
        <li>Методи і задачі в теорії фільтрації.</li>
        <li>Теорія пружності та задачі міцності конструкцій.</li>
        <li>Теорія динаміки систем.</li>
        <li>Теорія управління та проблеми стійкості систем.</li>
        <li>Математичне моделювання.</li>
        <li>Чисельні методи та обчислювальні технології.</li>
        <li>Методи дискретних особливостей та їх застосування.</li>
        <li>Информационные и компьютерные технологии.</li>
        <li>Компьютерное моделирование и специальные программные средства.</li>
        <li>Моделювання- лабораторний та фізичний експеримент.</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Важливі дати:</h3>
      <ul>
        <li><b>1-е інформаційне повідомлення до <span class="red">20 квітня 2021 р.</span></b> – розгляд організаційним комітетом заявок на участь із
        доповідями на симпозіумі МДОЗМФ-2021 (заявка, назва и анотація доповіді (до 10 рядків) на одній із
        мов(українська, англійська, російська))</li>
        <li><b>2-е інформаційне повідомлення</b> (умові реєстрації, друку доповідей і порядок сплати оргвнеску) до <span class="red">10 травня
        2021 р.</span> – перерахування оргвнеску та завантаження доповідей (статей)</li>
        <li><span class="red">Реєстрація учасників симпозіума на сайте МДОЗМФ-2021 відбувається при умові сплати оргвнеску в
        розмірі 400 грн.</span> Статі (доповіді) які відповідають тематиці симпозіума МДОЗМФ і пройшли рецензування редколегії
        будуть надруковані в «Журнал обчислювальної та прикладної математики», 2021 (внесений в перелік
        рецензованих видань МОН України!)</li>
        <li><b>3-е інформаційне повідомлення <span class="red">30 травня 2021 р.</span></b> (офіційне запрошення учасників і анонсування програми
        симпозіума);</li>
        <li>з <span class="red">21 по 26 червня 2021</span>, м.м.Харків-Київ (дистанційно в ZOOM) проведення МДОЗМФ-2021</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>
</ng-template>

<ng-template #en>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>XX International Symposium</h3>
      <h4>Discrete Singularities Methods in Mathematical Physics - 2021</h4>
      <p class="text-center">
        <img src="../../../assets/images/logo.png" alt="" width="300px">
      </p>
      <p>21 - 26 June, 2021</p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-2"></div><div class="col-5">National Technical University Kharkiv Politechnic Institute</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Taras Shevchenko National University of Kyiv</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">V.N. Karazin Kharkiv National University</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">ІInstitute of Telecommunications and Global Information Space, NAS of Ukraine</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
    <!-- <div class="col-1"></div><div class="col-5">Одеська національна академія зв'язку ім. А.С. Попова</div><div class="col-3 text-center">(Україна)</div><div class="col-1"></div> -->
    <div class="col-2"></div><div class="col-5">Institute of Cybernetics, NAS of Ukraine</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
    <div class="col-2"></div><div class="col-5">Institute of Hydromechanics, NAS of Ukraine</div><div class="col-3 text-center">(Ukraine)</div><div class="col-2"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <p>Place: Kharkiv - Kyiv (remotely in Zoom)</p>
      <p>21 - 26 June, 2021 р.</p>
      <p>Symposium languages: ukrainian, english, russian</p>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Program Committee:</h3>
      <b>
        Academician of NASU S.O.Dovgy (Kyiv, Ukraine), Academician of NASU V.T. Grinchenko (Kyiv, Ukraine),
        Cor. member of NASU A.N. Khimich (Kyiv, Ukraine), Cor. member of NASU S.I.Lyashko (Kyiv, Ukraine),
        Cor.member of NASU E.I. Nikiforovich (Kyiv, Ukraine), Cor. member of NASU A.N. Trofimchuk (Kyiv, Ukraine),
        Prof. A.Ya.Bomba (Rivno, Ukraine), Prof I.Didmanidze (Batumi, Georgia), Prof. S.V. Ershov (USA), Prof. R.S.Hapko (Lviv, Ukraine),
        Prof.AM.Homchenko (Nikolaev, Ukraine), Prof. D.A.Klyushin (Kyiv, Ukraine), Prof. V.T. Lazurik (Kharkiv, Ukraine),
        Prof. A.V.Menshykov (Aberdeen, USA), Prof. A.I. Nosich (Kharkiv, Ukraine), Prof. S.L.Prosvirnin (Kharkiv, Ukraine),
        Prof.V.V.Pichkur (Kyiv, Ukraine), Prof. JG Sanikidze (Tbilisi, Georgia), Prof. V.A. Scherbina (Kharkiv, Ukraine),
        Prof. Yu.V. Shestopalov (Gavle, Ukraine), Prof. V.V.Semenov(Kyiv, Ukraine), Prof. V.A. Vanin (Kharkiv, Ukraine),
        Prof.P.P. Vorobienko (Odessa, Ukraine), Prof. G.N. Zholtkevich (Kharkiv, Ukraine), Prof. V.B.Vasilik(Kyiv, Ukraine).
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Co-Heads of Committee:</h3>
      <b>
        Academician of NASU S.O.Dovgy (Kyiv, Ukraine), Prof. V.A. Vanin (Kharkiv, Ukraine)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Secretary:</h3>
      <b>
        D.I. Cherniy (Kyiv, Ukraine)
      </b>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <br/>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h3 class="text-center">The basic directions of the work of DSMMPh-2021:</h3>
      <ul>
        <li>Boundary-value problems of mathematical physics; a numerical solving by the DSM</li>
        <li>Integral equations and their applications. The discrete singularities methods.</li>
        <li>The discrete vortex method in aerohydrodynamic</li>
        <li>The discrete singularities methods in electrodynamics and electronics</li>
        <li>Spectral problems of the theory of oscillations and waves; a numerical solving by the DSM</li>
        <li>Mathematical modeling based on the DSM and numerical methods</li>
        <li>Computer modeling and numerical experiments at the basis of DSM and their information and software support (parallelism, software libraries, testing).</li>
        <li>Theory dynamical systems</li>
        <li>Control theory and problems of stability of systems.</li>
        <li>Math modeling.</li>
        <li>Numerical methods and computational technologies</li>
        <li>Methods of discrete singularities and their applications.</li>
        <li>Information and computer technologies.</li>
        <li>Computer modeling and special software.</li>
        <li>Simulation - laboratory and physical experiment</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <h3>Symposium Schedule:</h3>
      <ul>
        <li><b>1st information announcement and until <span class="red">April 20, 2021</span></b>   - acceptance and consideration by the
          organizing committee of applications for participation with reports in the DSMMPh-2021
          symposium (includes an application, title and a brief abstract of the report (up to 10 lines) in one
          of the languages (English, Ukrainian, Russian))</li>
        <li><b>2nd information message</b> with the conditions of registration, with the conditions for publishing
          the works of participants and the procedure for paying the registration fee) until <span class="red">May 10,
          2021</span> – payment of the registration fee, and uploading articles (with reports) by the Program
          Committee of the symposium.</li>
        <li><span class="red">Registration of a participant in the work of the symposium on the
          website of DSMMPh-2021 takes place upon payment of a registration fee of 400 UAH.</span>
          Articles (reports of works that satisfy the subject matter of the DSMMPh-2021
          symposium) that have been reviewed by the editorial board will be published in the Journal of
          Computational and Applied Mathematics, 2021 (included in the list of peer-reviewed
          publications of the Ministry of Education and Science of Ukraine!).</li>
        <li><b>3rd announcement on <span class="red">May 30, 2021</span></b> (with an official invitation to the participants and an
          announcement of the symposium program).</li>
        <li>from <span class="red">21 to 26 June 2021</span>, Kharkiv-Kiev (remotely in ZOOM-Conference) holding: symposium of DSMMPh-2021</li>
      </ul>
    </div>
    <div class="col-1"></div>
  </div>
  <br/>
</ng-template>
