<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>XIX Международный симпозиум</h3>
    <h4>Методы дискретных особенностей в задачах математической физики</h4>
    <p class="text-center">
      <img src="../../../assets/images/logo.png" alt="" width="300px">
    </p>
    <p>28 - 30 июня 2021 г.</p>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div><div class="col-5">Национальний технический университет «ХПИ»</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Институт телекоммуникаций и глобального информационного пространства НАН Украины</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Харьковский национальный университет им. В.Н.Каразина</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Киевский национальный университет им. Тараса Шевченко</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Одесская национальная академия связи им. А.С. Попова</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Институт кибернетики НАН Украины</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
  <div class="col-2"></div><div class="col-5">Институт гидромеханики НАН Украины</div><div class="col-3 text-center">(Україна)</div><div class="col-2"></div>
</div>
<br/>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Програмний комітет:</h3>
    <b>
      проф. А.Я.Бомба (Ровно), проф. В.А.Ванин (Харьков), проф.П.П. Воробиенко (Одесса),
      академик НАНУ В.Т.Гринченко (Киев), академик НАНУ С.А.Довгий (Киев),
      проф. Ibraim Didmanidze (Batumi), проф. Г.Н.Жолткевич (Харьков), проф. В.Т.Лазурик (Харьков),
      рrоf. А.V.Меnshykov (Aberdeen), проф. С.В.Ершов (USA), чл.кор. НАНУ Е.И Никифорович,
      проф. А.И.Носич (Харьков), проф. С.Л.Просвирнин (Харьков), проф. Дж.Г.Саникидзе (Тбилиси),
      проф. В.А.Щербина (Харьков), проф. Ю.В.Шестопалов (Gavle), чл.кор. НАНУ А.Н.Трофимчук (Киев),
      проф. А.М.Хомченко (Николаев), проф. Р.С.Хапко (Львов), чл.кор. НАНУ А.Н.Химич (Киев)
    </b>
  </div>
  <div class="col-2"></div>
</div>
<br/>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Сопредседатели Оргкомитета:</h3>
    <b>
      академик НАНУ С.А.Довгий (Киев), проф. В.А. Ванин, НТУ «ХПИ» (Харьков)
    </b>
  </div>
  <div class="col-2"></div>
</div>
<br/>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Ученый секретарь:</h3>
    <b>
      доц. Д,И. Черний, КНУ им. Т.Шевченко (Киев)
    </b>
  </div>
  <div class="col-2"></div>
</div>
<br/>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8 text-center">
    <h3>Члены Оргкомитету симпозиума МДОЗМФ-2019:</h3>
    <b>
      проф. А.Я.Бомба (Ровно), доц. Г.С. Абрамов (Украина), к.ф.м.н., проф.П.П. Воробиенко (Одесса),
      доц. А.В.Гахов (Германия), PhD Оlga Gavrylyako (USA), академик НАНУ В.Т.Гринченко (Киев),
      проф. Ibraim Didmanidze (Batumi), проф. А.Л. Григорьев (Украина), академик НАНУ С.А.Довгий(Киев),
      проф. В.А. Дорошенко, (Украина) доц. В.Д. Душкин (Украина), доц. С.В. Духопельников (Украина),
      доц. В.І. Кузьмич (Украина), доц. А.В. Лисенко (Украина), проф. В.А. Меньшиков (Украина),
      доц. К.В.Несвит, проф. А.Г. Николаев (Украина), проф. Н.Ф. Пацегон (Украина),
      проф. С.И. Проценко (Украина), доц. В.Н. Сейчук (Молдова), проф. Е.А. Стрельникова (Украина),
      проф. А.М. Хомченко (Украина), проф. Р.С.Хапко (Львов), чл.кор. НАНУ А.Н.Химич (Киев).
    </b>
  </div>
  <div class="col-2"></div>
</div>

<br/>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <h3 class="text-center">Основные направления работы МДОЗМФ – 2021</h3>
    <ul>
      <li>Задачи и методы математической физики.</li>
      <li>Интегральные уравнения и их приложения. Методы дискретных особенностей</li>
      <li>Вычислительная аэро и гидродинамика. Аэродродинамика летательных аппаратов.</li>
      <li>Математическое моделирование и вычислительные технологии.</li>
      <li>Электродинамика и радиофизика. Методы дискретных особенностей в электродинамике и электронике</li>
      <li>Спектральные задачи теории колебаний и волн, их численное решение МДО.</li>
      <li>Математическое моделирование и численные методы на базе МДО в задачах фильтрации.</li>
      <li>Теория упругости и задачи прочности конструкций.</li>
      <li>Информационые и компьютерні технологи.</li>
      <li>Компьютерное моделирование и вычислительные эксперименты по МДО, проектирование и разработка программных средств: UML, параллелизм, библиотеки, БД, тестирование.</li>
      <li>Математическое моделирование в образовании, науке и технике: новые постановки задач.</li>
    </ul>
  </div>
  <div class="col-2"></div>
</div>



