.red {
  color: red;
  font-weight: bold;
}

ul {
  li {
    text-align: left;
    margin-top: 10px;
  }
}

.zoom-info {
  border: solid green 5px;
  margin: 20px;
  padding: 20px;
  font-size: 2em;
}