<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand font-size-24" routerLink="/">{{ "PROFILE.TITLE" | translate }} - 2023</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item nav-item--administration"
            *ngIf="isUserLogged$ | async">
            <a class="nav-link"
              routerLink="/administration">{{ "PROFILE.ADMINISTRATION" | translate }}</a>
          </li>
          <li class="nav-item nav-item--cabinet"
            *ngIf="isUserLogged$ | async">
            <a class="nav-link"
              routerLink="/cabinet">{{ "PROFILE.CABINET" | translate }}</a>
          </li>
          <li class="nav-item nav-item--administration"
            *ngIf="!(isUserLogged$ | async)">
            <a class="nav-link"
              (click)="registration()">{{ "PROFILE.REGISTRATION" | translate }}</a>
          </li>
          <li class="nav-item nav-item--logout">
            <a class="nav-link"
              *ngIf="isUserLogged$ | async"
              (click)="logout()">{{ "PROFILE.LOGOUT" | translate }}</a>
            <a class="nav-link"
              *ngIf="!(isUserLogged$ | async)"
              (click)="login()">{{ "PROFILE.LOGIN" | translate }}</a>
          </li>
          <li class="nav-item dropdown nav-item--language"
            ngbDropdown>
            <a class="nav-link dropdown-toggle"
              ngbDropdownToggle>
              {{ language$ | async }}
            </a>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li ngbDropdownItem
                (click)="changeLanguage(LanguageEnum.UA)"><a class="dropdown-item">UA</a></li>
              <li ngbDropdownItem
                (click)="changeLanguage(LanguageEnum.RU)"><a class="dropdown-item">RU</a></li>
              <li ngbDropdownItem
                (click)="changeLanguage(LanguageEnum.EN)"><a class="dropdown-item">EN</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
