<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Форма входа</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.close(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email</label>
      <div class="input-group">
        <input id="email" class="form-control" formControlName="email">
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="input-group">
        <input id="password" class="form-control" type="password" formControlName="password">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button"
    class="btn btn-outline-dark"
    [disabled]="loginForm.invalid"
    (click)="modal.close(loginForm.value)">Login</button>
</div>
