<app-header></app-header>

<div class="sidebar">
  <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/history">{{ "PROFILE.HISTORY" | translate }}</a>
  </div>
  <!-- <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/registration">{{ "PROFILE.REGISTRATION" | translate }}</a>
  </div> -->
  <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/participants">{{ "PROFILE.PARTICIPANTS_LIST" | translate }}</a>
  </div>
  <!-- <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/letters">{{ "PROFILE.LETTERS" | translate }}</a>
  </div> -->
  <!-- <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/rules">{{ "PROFILE.ARTICLE_RULES" | translate }}</a>
  </div> -->
  <div class="nav-item">
    <a class="nav-link font-size-16"
      [attr.aria-expanded]="!isCollapsed"
      (click)="collapse.toggle()"
      aria-controls="collapseExample">{{ "PROFILE.ARCHIVE" | translate }}</a>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card">
        <div class="card-body">
          <a class="nav-link font-size-12"
            routerLinkActive="active"
            [routerLink]="['/dsmmph', 2021]">{{ "PROFILE.TITLE" | translate }} - 2021</a>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <a class="nav-link font-size-16"
      routerLinkActive="active"
      routerLink="/contacts">{{ "PROFILE.CONTACTS" | translate }}</a>
  </div>
</div>

<div class="layout-container">
  <div class="container">
    <ng-content></ng-content>
  </div>
</div>

