.layout-container {
  background-color: rgb(247, 247, 247);
  margin: 0px;
  margin-top: 50px;
  margin-left: 200px;
  padding: 20px;
  height: auto;
  min-height: calc(100vh - 50px);
}

.sidebar {
  background-color: lightgray;
  width: 200px;
  position: fixed;
  z-index: 5;
  height: calc(100vh - 50px);
  padding-top: 20px;
  border-right: 1px black solid;
}

.font-size-16 {
  font-size: 20px;
}

.nav-item {

  a {
    color: grey;
  }

  a.active {
    color: black;
  }
}
