<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <!-- <h3>История МДО ЗМФ</h3> -->
    <p class="text-center">
      <img src="../../../assets/images/2019.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2017.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2015.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2013.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2011.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2009.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2007.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2005.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2003.jpg" alt="" width="500px">
    </p>
    <br/>
    <p class="text-center">
      <img src="../../../assets/images/2001.jpg" alt="" width="500px">
    </p>
    <br/>
  </div>
  <div class="col-2"></div>
</div>
